.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem; 
    border-bottom: 0.0625rem solid #E3E6EA;
    flex-shrink: 0;

    @media (max-width: 768px) {
        border-bottom: none;
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__title {
        font-weight: 500;
    }
}        