.chat {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 6.25rem);
  padding: 1.25rem;

  &__input {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.625rem;
  }

  &__messages {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 1.25rem;
  }

  &__error {
    color: #e11d48;
    background-color: #fde8e8;
    border: 0.0625rem solid #fca5a5;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    margin: 0.5rem 1.5rem 0 1.5rem;
    width: 100%;
    max-width: 35.625rem;
  }
}
