.logo {
  border-radius: 19.5rem;
  flex-shrink: 0;
}

.messege {
  display: flex;
  gap: 0.9375rem;
  width: 100%;

  &.isAI {
    border: 0.0625rem solid #e3e6ea;
    box-shadow: var(--shadow-regular);
    border-radius: 1rem;
    padding: 1.25rem;
    margin: 0.625rem 0;
  }

  &__header {
    display: flex;
    gap: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
  }

  &__name {
    color: var(--neutral--700);
    font-weight: 500;
  }

  &__time {
    color: var(--neutral--600);
    font-weight: 500;
  }
}
